 .setup-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
      max-width: 800px;
      margin: 0 auto;
      align-items: baseline;
    }

    .setup-container h3 {
      width: 100%;
      margin-top: 0;
    }

    mat-form-field {
      flex: 1 1 150px;
    }
