@use '@angular/material' as mat;

// Include the core styles.
@include mat.core();

// Define the light theme.
$timer-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

// Define the dark theme.
$timer-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

// Apply the light theme by default.
@include mat.all-component-themes($timer-light-theme);

:root {
  --timer-font: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color: #333;
}

// When the dark-theme class is present, apply the dark theme styles.
body.dark-theme {
  background-color: #303030;
  color: #fff;

  // Apply the dark theme to all Angular Material components.
  @include mat.all-component-themes($timer-dark-theme);
}
