@use '@angular/material' as mat;

// Define the theme object.
$timer-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

// Include the core styles.
@include mat.core();

// Include the theme styles for all components.
html {
  @include mat.all-component-themes($timer-theme);
}

:root {
  --timer-font: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color: #333;
}

body.dark-theme {
  background-color: #303030;
  color: #fff;

  $timer-dark-theme: mat.define-theme((
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    )
  ));

  @include mat.all-component-themes($timer-dark-theme);
}
