.app-footer {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer-logo {
  height: 40px;
  cursor: pointer;
  filter: invert(1);
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.donate-button {
  background-color: transparent;
  color: #e91e63;
  border: 1px solid #e91e63;
}

.install-button {
  background-color: transparent;
  color: #4caf50;
  border: 1px solid #4caf50;
}

@media (max-width: 600px) {
  .app-footer {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }

  .footer-content {
    justify-content: center;
    font-size: small;
  }

  .footer-actions {
    flex-direction: row;
    justify-content: center;
  }
  .donate-button, .install-button {
    width: 40px !important;
    height: 40px !important;
  }
 
}

/* Ensure light theme compatibility */
:host-context(body:not(.dark-theme)) .app-footer {
  background-color: #f5f5f5;
  color: #333;
}

:host-context(body:not(.dark-theme)) .footer-link {
  color: #3f51b5; /* Primary color */
}

:host-context(body:not(.dark-theme)) .footer-logo {
  filter: none;
}
