:host {
  text-align: center;
}

.donate-dialog-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.qr-codes {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.qr-code img {
  width: 150px;
  height: 150px;
}

.paypal-form {
  margin-top: 20px;
}
