// karma.conf.js
module.exports = function (config) {
  config.set({
    // ... other configurations
    browsers: ['EdgeHeadless'],
    customLaunchers: {
      EdgeHeadless: {
        base: 'Edge',
        flags: [
          '--headless',
          '--disable-gpu',
          // Required for running as root in a docker container
          '--no-sandbox',
          '--remote-debugging-port=9223' // Using a different port
        ]
      }
    },
    // ...
    singleRun: false // Or true if you want it to run once and exit
  });
};
