:host-context(body) {
  border-bottom: 1px solid #b5b5b5;
}
.logo-title-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header-logo {
  height: 40px;
  cursor: pointer;
}
.spacer {
  flex: 1 1 auto;
}
.title {
  cursor: pointer;
  font-weight: 500;
}
nav {
  margin-right: 16px;
}

:host-context(body.dark-theme) .header-logo {
  filter: invert(1);
}

/* Make the header sticky on desktop */
@media (min-width: 600px) {
  :host {
    display: block; /* Ensure it behaves like a block for sticky positioning */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: medium;
  }
  .logo-title-group {
    gap: 0;
  }
  .header-logo {
    display: none;
  }
 .mat-toolbar-single-row  {
    padding-left: 10px;
    padding-right: 5px;
  }
  nav {
    margin-right: 0px;
  }
}
