 .sticky-header {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .title {
      cursor: pointer;
      font-weight: 500;
    }
    nav {
      margin-right: 16px;
    }