.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}