<div class="main-container" [style.background-image]="backgroundImageUrl ? 'url(' + backgroundImageUrl + ')' : 'none'">
  <app-header></app-header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <div class="footer-buttons">
    <app-help-button></app-help-button>

    @if (isMobile()) {
      <button mat-mini-fab color="primary" class="donate-button" (click)="toggleDonateDialog()" aria-label="Donate">
        <mat-icon>volunteer_activism</mat-icon>
      </button>
    } @else {
      <button mat-fab color="primary" class="donate-button" (click)="toggleDonateDialog()" aria-label="Donate">
        <mat-icon>volunteer_activism</mat-icon>
      </button>
    }
  </div>
</div>
