.content {
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-buttons {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 600px) {
  .footer-buttons {
    left: auto;
    right: 1rem;
    bottom: 1rem;
    flex-direction: column;
  }

  .donate-button {
    width: 40px !important;
    height: 40px !important;
  }
}
