<div class="donate-container">
  <h2>Donate</h2>
  <p>
    If you find this application helpful, please consider a donation. It helps in maintaining and
    improving the app.
  </p>

  <div class="donation-options">
    <div class="qr-code">
      <h3>Scan QR Code</h3>
      <p>Paypal</p>
      <img src="img/paypal.png" alt="Paypal QR Code" />
    </div>
    <div class="paypal">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        Click the button below to donate via PayPal.
        <input name="cmd" type="hidden" value="_s-xclick" /><br />
        <input name="hosted_button_id" type="hidden" value="6FB8X3ECTBFNY" /><br />
        <input
          title="PayPal Donation"
          alt="Donate with PayPal button"
          name="submit"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
          type="image"
        /><br />
        <figure>
          <img
            src="https://www.paypal.com/en_US/i/scr/pixel.gif"
            alt=""
            width="1"
            height="1"
            border="0"
          />
        </figure>
      </form>
    </div>
    <div class="qr-code">
      <h3>Scan QR Code</h3>
      <p>Venmo</p>
      <img src="img/venmo.png" alt="Venmo QR Code" />
    </div>
  </div>
</div>
